.blog-card {
  margin: 2%;
  width: 46%;
  height: 40%;
  z-index: 4;

  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.182);
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.793);

  transition: transform 500ms ease;
}
.blog-card:hover {
  transform: scale(1.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.blog-card:hover .blog-cardContent {
  transform: scale(1);
  transform: translateY(0);
}

.blog-card--imagenFondo {
  height: 100%;
  width: 100%;

  transition: translate 2s ease;
}

.blog-cardContent {
  /* background : linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 100% / 0.3) 20%,
    hsl(0 0% 0% / 1)
  ); */
  background: rgba(0, 0, 0, 0.533);
  padding: 5px;

  transform: translateY(53%);
  transition: transform 250ms ease;
}

.blog-card--title {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 2.5vh;
  color: #fff;

  transition: color .3s ease;
}
.blog-card--title:hover{
  cursor: pointer;
  color: #00A7E6;
}

.blog-card--text {
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}