*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.App {
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
  z-index: 0;
/*  */
}

/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*---------------------------MENU LATERAL-----------------------------*/
.menuLateral {
  width: 20%;
  height: 100%;
  display: flex;
  position: fixed;
  /* para que no se mueva con el scroll */
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #333333;
  box-shadow: inset 10px 0px #ffffff;
  /* sombra interna */
  align-items: center;
  transition: all .2s ease-in-out;
}
.menuLateral:hover{
  box-shadow: inset 10px 0px #00A7E6;
}

.menuLateral--logoBlanco {
  width: auto;
  /* color: #00A7E6; */
  height: 15vh;
  transition: transform .5s ease-in-out;
}
.menuLateral--logoBlanco:hover{
  transform: rotate(360deg);
}

.menuLateral--contenedor {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*----------------------------MAINFLOW----------------------------*/
.mainFlow {
  position: relative;
  width: 80%;
  height: 100%;
  left: 20%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  z-index: 0;
}
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*----------------------------PRINCIPAL----------------------------*/

.principal {
  position: relative;
  width: 100%;
  height: 690px;
  display: flex;
  flex-direction: row;
  align-items: right;
  text-align: center;
  z-index: 0;
  /* justify-content: center; */
}

.principal--imagenFondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./images/main-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  filter: brightness(0.15);
  z-index: 0;
}

.principal--contenedorLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10vh;
}

.principal--contenedorRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  /* align-items: left; */
  padding: 7vh;
}

.principal--logo {
  position: relative;
  width: 75%;
  height: 15%;
  float: left;
  z-index: 2;
}
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*----------------------------PROJECTS----------------------------*/
.proyectos {
  position: relative;
  width: 100%;
  height: 690px;
  display: flex;
  flex-direction: row;
  align-items: right;
  text-align: center;
  z-index: 0;
  /* justify-content: center; */
}
.projects--imagenFondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./images/projects-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(0.15);
  z-index: 0;
}
.titulokein {
  font-size: 2.5vh;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2vh;
  z-index: 1;
}

/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*--------------------------------ABOUT---------------------------*/
.quienesSomos {
  position: relative;
  width: 100%;
  height: 690px;
  display: flex;
  flex-direction: row;
  align-items: right;
  text-align: center;
  z-index: 0;
  /* justify-content: center; */
}

/* titulo */
.sectionQs{
  padding: 57px;
  font-size: 30px;
  margin: 0;
  z-index: 0;
  color: #00A7E6;
  text-align: left;
  position: absolute; 
}

.imagenQs{

  position: relative;
  width: 500px;
  height: 300px;
  max-width: 50%;
  float: left;
  z-index: 0;
  margin: 60px;
  top: 9em;
  border-radius: 40px;
}
/* descripcion */
.infoQs{
  height: 620px;
  font-size: 18px;
  text-align: justify;
  max-width: 400px;
  display: flex; 
  color: white;
  left: 600px;
  position: relative;
}

.imagenUtc{

  position: relative;
  width: 500px;
  height: 300px;
  max-width: 50%;
  float: left;
  z-index: 0;
  margin: 60px;
  top: 9em;
  border-radius: 40px;
}

.principal--Qs {
  position: relative;
  width: 75%;
  height: 15%;
  float: left;
  z-index: 2;
}

.about--imagenFondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./images/about-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed;  */
  z-index: 0;
  filter: brightness(0.15);
}

/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*----------------------------------BLOG-------------------------*/
.blog {
  position: relative;
  width: 100%;
  height: 690px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: right; */
  text-align: center;
  z-index: 0;
  justify-content: center;
}

.blog--imagenFondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./images/blog-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  filter: brightness(0.15);
}
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*----------------------------------CONTACTO-------------------------*/
.contacto {
  position: relative;
  width: 100%;
  height: 690px;
  display: flex;
  flex-direction: row;
  align-items: right;
  text-align: center;
  z-index: 0;
  /* justify-content: center; */
}

.contact--imagenFondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./images/contact-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  filter: brightness(0.15);
  z-index: 0;
}